/.ignore_files
*.retry
*.idea*
/source/ansible/vault-password-file.txt
/source/ansible/roles/docker_control_node/files/.env
/source/ansible/roles/cinnamon_settings/files/applets/configs/weather@mockturtl
